@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
  box-sizing: border-box; }

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none;
  color: blue; }

a:focus {
  text-decoration: none;
  color: yellow; }

a:hover, a:active {
  text-decoration: none;
  color: black; }

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
button,
input {
  /* 1 */
  overflow: visible; }

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none; }

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

header {
  background-color: #233d50;
  color: white;
  height: 60px; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav .logo {
      height: 60px;
      padding: 0.5rem; }
      header nav .logo a img {
        height: 100%; }
    header nav ul {
      display: flex;
      align-items: center;
      margin-right: 1rem; }
      header nav ul li {
        padding-right: 2rem; }
      header nav ul .owner-account {
        background-color: #00b2a9;
        padding: 0.5rem; }

.hero-container .hero {
  height: 600px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.25)), url(../img/hero.jpg);
  background-size: cover; }

.hero-container .hero-content {
  position: absolute;
  top: 35%;
  left: 15%; }
  .hero-container .hero-content .brand-call {
    color: #fe5000;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase; }
  .hero-container .hero-content h1 {
    color: white; }
  .hero-container .hero-content p {
    color: white; }
  .hero-container .hero-content button {
    background-color: #fe5000;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; }

.page-content {
  height: 600px; }

footer {
  height: 330px;
  background-color: #233d50; }

.sticky {
  width: 100%;
  position: sticky;
  bottom: 0px;
  height: 64px;
  background-color: whitesmoke; }
  .sticky .sticky-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%; }
    .sticky .sticky-container .letting-guide {
      display: flex;
      align-items: center;
      padding: 1rem;
      color: white;
      background-color: #fe5000; }

/*# sourceMappingURL=app.css.map */
