@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
  box-sizing: border-box; }

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 3rem;
  color: #233d50; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  a:visited {
    color: inherit; }

header {
  background-color: #233d50;
  color: white;
  height: 60px; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav .logo {
      height: 60px;
      padding: 0.5rem; }
      header nav .logo a img {
        height: 100%; }
    header nav ul {
      display: flex;
      align-items: center;
      margin-right: 1rem; }
      header nav ul li {
        padding-right: 2rem; }
      header nav ul .owner-account {
        background-color: #00b2a9;
        padding: 0.5rem; }

.hero-container .hero {
  height: 600px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-size: cover; }

.hero-container .hero-content {
  position: absolute;
  top: 30%;
  left: 15%; }
  .hero-container .hero-content .brand-call {
    color: #fe5000;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase; }
  .hero-container .hero-content h1 {
    color: white;
    font-weight: bold; }
  .hero-container .hero-content p {
    color: white; }
  .hero-container .hero-content button {
    background-color: #fe5000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; }

.page-content {
  display: flex;
  height: 600px;
  max-width: 1170px;
  margin: 5rem auto; }
  .page-content .welcome-montage {
    padding: 1rem;
    max-height: 600px;
    max-width: 50%; }
    .page-content .welcome-montage img {
      max-width: 100%;
      height: auto; }
  .page-content .welcome-content {
    color: #616161;
    width: 50%;
    padding-left: 1rem;
    margin-top: -2rem;
    line-height: 1.4rem; }
    .page-content .welcome-content h3 {
      margin: 4rem 0 3rem 0; }

footer {
  color: white;
  font-size: 0.75rem;
  height: 330px;
  background-color: #233d50; }
  footer .footer-top-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    height: 60%;
    margin: 0 auto; }
    footer .footer-top-container .col-5 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase; }
  footer hr {
    max-width: 1170px;
    margin: 1rem auto; }
  footer .footer-bottom-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    height: auto; }
    footer .footer-bottom-container .social-links {
      height: 18px; }
      footer .footer-bottom-container .social-links span {
        margin: 0 0.5rem; }
        footer .footer-bottom-container .social-links span img {
          height: 100%; }

.sticky {
  opacity: 0;
  transition: all 1s ease;
  width: 100%;
  position: sticky;
  bottom: 0px;
  height: 64px;
  background-color: whitesmoke; }
  .sticky .sticky-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    color: #233d50; }
    .sticky .sticky-container .letting-guide {
      display: flex;
      align-items: center;
      padding: 1rem;
      color: white;
      background-color: #fe5000;
      margin: 0.5rem; }

.show {
  opacity: 1;
  transition: all 1s ease; }

.hide {
  opacity: 0; }

/*# sourceMappingURL=app.css.map */
