* {
    box-sizing: border-box;
    &::selection {
        color: $orange;
        background-color: $orange-select;
    }
}

body {
    font-family: $secondary-font;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    color: $dark-blue;
    @media screen and (max-width: $bp-tablet) {
        font-size: 1.5rem;
    }
}

p {
    color: $grey;
    line-height: 1.6rem;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $white;
}

a[href^="tel:"] {
    color: $dark-blue;
    text-decoration: none;
}

hr {
    border: 0.5px solid $hr-light;
    max-width: 1170px;
    width: 90%;
}

.fas {
    color: $orange;
}

