footer {
    display: flex;
    flex-direction: column;
    color: $white;
    font-size: 0.75rem;
    height: 330px;
    background-color: $dark-blue;
    @media screen and (max-width: $bp-large) {
        height: fit-content;
    }
    .footer-top-container {
        display: flex;
        justify-content: space-between;
        max-width: 1170px;
        height: 60%;
        width: 90%;
        margin: 0 auto;
        @media screen and (max-width: $bp-large) {
            width: 90%;
            margin: 0 auto;
            flex-direction: column;
        }
        .col-footer {
            font-family: $main-font;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: auto;
            @media screen and (max-width: $bp-large) {
                width: 100%;
                align-items: center;
            }
            p {
                @media screen and (max-width: $bp-large) {
                    margin: 0.3rem auto;
                }
                a {
                    text-transform: uppercase;
                    color: $white;
                    transition: color 0.1s ease-in-out;
                    &:hover {
                        color: $white-hover;
                        transition: color 0.1s ease-in-out;
                    }
                }
            }
            &.copyright-container {
                display: flex;
                font-family: $secondary-font;
                @media screen and (max-width: $bp-large) {
                    width: 235px;
                    margin: 2rem auto;
                    order: -1;
                }
                a {
                    height: fit-content;
                    img {
                        width: 235px;
                    }
                }
                .copyright {
                    color: $white;
                }
            }

        }
    }
    hr {
        max-width: 1170px;
        margin: 1rem auto;
        border: 0.5px solid $hr-dark;
    }
    .footer-bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;
        height: auto;
        font-family: $secondary-font;
        font-size: 0.65rem;
        @media screen and (max-width: $bp-desktop) {
            flex-direction: column;
            text-align: center;
        }
        @media screen and (max-width: $bp-large) {
            justify-content: center;
            height: 180px;
        }
        p {
            color: $white;
            margin-right: 2rem;
            @media screen and (max-width: $bp-large) {
                margin: 0 5rem;
            }
        }
        .social-links {
            height: 18px;
            @media screen and (max-width: $bp-large) {
                margin: 2rem;
                max-height: 25px;
            }
            span {
                margin: 0.5rem;
                img {
                    height: 100%;
                }
            }
        }
    }
}