footer {
    color: $white;
    font-size: 0.75rem;
    height: 330px;
    background-color: $dark-blue;
    .footer-top-container {
        display: flex;
        justify-content: space-between;
        max-width: 1170px;
        height: 60%;
        margin: 0 auto;
        .col-5 {
            font-family: 'Josefin Sans', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                text-transform: uppercase;
                color: $white;
                transition: color 0.1s ease-in-out;
                &:hover {
                    color: $white-hover;
                    transition: color 0.1s ease-in-out;
                }
            }
            &.copyright-container {
                font-family: 'Montserrat', sans-serif;
            }

        }
    }
    hr {
        max-width: 1170px;
        margin: 1rem auto;
    }
    .footer-bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;
        height: auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.65rem;
        .social-links {
            height: 18px;
            span {
                margin: 0 0.5rem;
                img {
                    height: 100%;
                }
            }
        }
    }
}