// Fonts
$main-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;


// Colors
$white: white;
$black: black;

$dark-blue: rgb(35, 61, 80);

$orange: rgb(254, 80, 0);
$orange-hover: rgb(255, 122, 60);
$orange-select: rgba(255, 122, 60, 0.3);

$grey: #616161;

$white: rgb(255, 255, 255);
$white-hover: rgb(200, 200, 200);

$hr-dark: rgb(67, 85, 99);
$hr-light: rgb(229, 229, 229);

// Breakpoints
$bp-desktop: 1200px;
$bp-large: 992px;
$bp-tablet: 768px;
$bp-phone: 500px;
$bp-xs: 415px;